<!doctype html>
<html lang="en">

    <%- include('header'); -%>
    
    <div id="game">
        <div v-if="gameState.state == 0" style="background-image: url('/static/backgroundspace.png');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; height: 100vh;">
            <%- include('landing'); -%> 
        </div>
        

        <div v-if="gameState.state == 1" style="background-image: url('/static/backgroundspace2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; height: 100vh;">
            <%- include('lobby'); -%>
        </div>

        <div v-if="gameState.state == 2" style="background-image: url('/static/backgroundspace2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; height: 100vh;">
            <%- include('difficulty'); -%>
        </div>

        <div v-if="gameState.state == 3" style="background-image: url('/static/backgroundspace2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; height: 100vh;">
            <%- include('start'); -%>
        </div>

        
        <div v-if="gameState.state == 4" style="background-image: url('/static/backgroundspace2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; height: 100vh;">
            <%- include('question'); -%>
        </div>
        
        <div v-if="gameState.state == 5" style="background-image: url('/static/backgroundspace2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; height: 100vh;">
            <%- include('result'); -%>
        </div>

        <div v-if="gameState.state == 6" style="background-image: url('/static/backgroundspace2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; height: 100vh;">
            <%- include('review'); -%>
        </div>

        <div v-if="gameState.state == 7" style="background-image: url('/static/backgroundspace2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; height: 100vh;">
            <%- include('leaderboard'); -%>
        </div>
        
    </div>

    <%- include('footer'); -%>

</html>
